@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("img/Background.png");
  background-color: #212125;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.testcases-container {
  margin: 40px 0;
}

.title {
  display: flex;
  align-items: end;
  color: #ffffff;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
}

.title img {
  margin-left: 18px;
  margin-right: 6px;
}

.input-wrapper {
  position: relative;
  max-width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.url-input {
  width: 100%;
  width: 600px;
  height: 50px;
  border-radius: 30px;
  padding: 0 120px 0 60px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #303035;
  outline: none;
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  background-image: linear-gradient(#303035, #303035),
    linear-gradient(to top right, #303035, #666666);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge */
input.url-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #303035 inset !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

/* Firefox */
input.url-input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #303035 inset !important;
  -moz-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.link-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s, transform 0.2s;
  z-index: 2;
  pointer-events: auto;
}

.link-icon:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.generate-section {
  margin-top: 80px;
  text-align: center;
}

.generate-text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
  font-weight: 100;
}

.or-text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.buttons button {
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 28px 18px 28px;
  cursor: pointer;
  font-weight: 200;
}

.btn-outline {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 14px 28px 20px 28px;
  background: linear-gradient(#212125, #212125) padding-box,
    linear-gradient(to top right, #671fab, #ffa9f9) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
}

.btn-filled {
  color: #212125;
  background: linear-gradient(to top right, #671fab, #ffa9f9);
  border: none;
  font-weight: 200;
}

/* Контейнер для всплывающих сообщений */
#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Само сообщение */
.toast {
  align-items: center;
  position: relative;
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 16px;
  min-width: 260px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.4s forwards;
  overflow: hidden;
  gap: 12px;
}

.toast img {
  width: clamp(24px, 3vw, 28px);
  height: clamp(24px, 3vw, 28px);
  margin-left: -6px;
  flex-shrink: 0;
}

/* Линия сверху (время до закрытия) */
.toast::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(to right, #671fab, #ffa9f9);
  width: 100%;
  animation: progress 4s linear forwards;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Анимация появления */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Анимация линии (уменьшается к 0) */
@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* Затемнение фона */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 37, 0.7);
  z-index: 999;
}

/* Само окно */
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #303035;
  color: #fff;
  padding: 24px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 18px;
  line-height: 1.4;
  max-width: 360px;
}

/* Кнопки */
.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.popup-buttons button {
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

#popup-yes {
  background: linear-gradient(to top right, #671fab, #ffa9f9);
  color: #212125;
  font-weight: bold;
}

#popup-no {
  background: transparent;
  border: 2px solid #ffa9f9;
  color: #ffa9f9;
}

.generate-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  color: #303035;
  cursor: pointer;
  background: linear-gradient(90deg, #671fab, #ffa9f9);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

/* .generate-btn {
  position: absolute;
  right: 8px; /* немного от края инпута *
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to right, #671fab, #ffa9f9);
  color: #303035;
  border: none;
  border-radius: 25px;
  padding: 8px 12px;
  cursor: pointer;
} */
